* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Acme', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

#up-arrow {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 99;
  padding: 15px;
  font-size: 2em;
  color: darkviolet;
  text-shadow: 0 2px 10px #ffffff;
}

#up-arrow:hover {
  color: #523a04;
}

header {
  padding: 0 0 16px 0;
  z-index: 90;
}

.bottom {
  position: relative;
}

.bottom:before {
  content: '';
  position: absolute;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  left: 50%;
  bottom: 0;
  border-top-color: #00c4cc;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

a {
  white-space: nowrap;
}

.content {
  padding: 16px 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 260px;
}

.rightHome h1 {
  font-family: 'Alex Brush', cursive;
  color: hsl(266, 78%, 64%);
  font-size: 3em;
  margin-bottom: 30px;
}

nav {
  font-size: 1.5em;
  width: 100%;
}

.navbar {
  display: flex;
  background: linear-gradient(to right, #00c4cc, hsl(266, 78%, 64%));
  height: 110px;
  align-items: center;
  justify-content: center;
  list-style: none;
  transition: 500ms ease-in-out;
}

.navbar button {
  background: none;
  border: none;
  font-family: 'Acme', sans-serif;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: none;
  }
}

.navbar a {
  text-decoration: none;
  color: gold;
  padding: 0 20px;
  font-size: inherit;
}

.navbar button {
  text-decoration: none;
  color: gold;
  padding: 0 20px;
  font-size: inherit;
}

.dropdown a {
  float: left;
}

.navbar a::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: gold;
  transition: width .4s;
}

.navbar a:hover::after {
  width: 100%;
}

a.active::after {
  width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  border-radius: 6px 6px 0 0;
}

.dropdown:hover .dropbtn {
  background: linear-gradient(to right, #00c4cc, hsl(266, 78%, 64%));
}

/* Dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(to right, #00c4cc, hsl(266, 78%, 64%));
  min-width: 200px;
  border-radius: 0 6px 6px 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Links inside the dropdown */

.dropdown-content a {
  float: none;
  color: gold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
  background-color: #00c4cc;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  margin-top: 7px;
}

/* ******************************** */

/* **********mobile nav************ */

/* ******************************** */

/* Style the navigation menu */

.topnav {
  overflow: hidden;
  background: linear-gradient(to right, #00c4cc, hsl(266, 78%, 64%));
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */

.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */

.topnav a {
  color: gold;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}

.smLogo {
  height: 40px;
}

.shop-subcats {
  padding: 0;
  margin: 0 0 0 40px;
}

.shop-subcats a {
  font-size: 1.25em;
}

.shop-subcats hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(210, 223, 31, 0), rgba(210, 223, 31, 0.75), rgba(210, 223, 31, 0));
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 1.5em;
}

.topnav a:hover {
  color: #fff;
}

@media screen and (min-width: 750px) {
  .topnav {
    display: none;
  }
}

main {
  display: flex;
  margin: 50px 0 0 0;
  align-items: center;
  flex: 1 0 auto;
}

#home {
  margin: 100px 0;
}

.paypal {
  box-shadow: none;
}

.shop-cta-btn {
  transition: all .3s ease-in-out;
}

.shop-cta-btn:hover {
  margin-top: 5px;
  transform: scale(1.2)
}

.btn-scale {
  transition: all .4s;
  margin-bottom: 15px;
  display: inline-block;
}

.btn-scale:hover {
  transform: scale(1.2);
}

.btn {
  transition: all .4s;
}

.btn:hover {
  box-shadow: 0px 0px 0 3px #fff, 0 0 0 6px hsl(266, 78%, 64%), -7px 7px 7px rgba(0, 0, 0, 0.75);
  background: hsl(266, 78%, 64%);
  color: gold;
  transform: scale(1.2);
}

.cta-image {
  width: 50%;
}

.rightHome {
  text-align: center;
  width: 50%;
}

.rightHome a {
  text-decoration: none;
  background: #00c4cc;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 50px;
  border-radius: 8px;
  font-size: 1.5em;
}

@media screen and (min-width: 1524px) {
  .rightHome h1 {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .rightHome h1 {
    font-size: 6em;
  }
}

@media screen and (max-width: 1200px) {
  .rightHome h1 {
    font-size: 4.75em;
  }
}

@media screen and (max-width: 750px) {
  main {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .rightHome {
    width: 100%;
  }
  .rightHome h1 {
    font-size: 4em;
  }
  .cta-image {
    margin-top: 50px;
    width: 70%;
  }
}

@media screen and (max-width: 336px) {
  .rightHome h1 {
    font-size: 3.35em;
  }
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.cta-desc {
  background: #00c4cc;
  color: #fff;
  text-align: center;
  padding: 50px;
}

.cta-desc h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: gold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.541);
}

.cta-desc p {
  font-size: 1.25em;
  letter-spacing: .125em;
}

.cta-desc p span {
  color: #523a04;
  letter-spacing: .01em;
}

.cta-desc a {
  text-decoration: none;
  color: gold;
  text-transform: uppercase;
  letter-spacing: normal;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.541);
  transition: all .8s;
}

.cta-desc a:hover {
  color: black;
}

section {
  padding: 40px;
  text-align: center;
  color: hsl(266, 78%, 64%);
  font-size: 1.5em;
}

section h2 {
  margin: 30px;
}

section p {
  padding: 30px;
  font-family: 'Acme', sans-serif;
}

section a {
  text-decoration: none;
  font-family: 'Acme', sans-serif;
  color: #fff;
  letter-spacing: .3em;
  padding: 8px 50px;
  background: #00c4cc;
  border-radius: 10px;
}

.figs {
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0 60px 0;
}

figure img {
  box-shadow: 3px 3px 10px rgb(61, 152, 175);
}

.promo-sm {
  max-width: 20vw;
  border: 3px solid turquoise;
}

.promo-lg {
  max-width: 40vw;
  border: 3px solid turquoise;
}

figure h3 {
  margin: 15px 0 5px 0;
}

figure p {
  padding-bottom: 20px;
}

figure a {
  text-decoration: none;
  color: #fff;
  background: #00c4cc;
  padding: 7px 20px;
}

figcaption {
  font-size: .75em;
}

@media screen and (max-width: 750px) {
  .cta-desc h2 {
    font-size: 2.5em;
  }
  .cta-desc p {
    font-size: 1.5em;
    line-height: 1.75em;
  }
  section h2 {
    font-size: 2.5em;
  }
  .figs {
    flex-direction: column;
  }
  figure {
    margin: 30px auto;
  }
  figcaption {
    font-size: 1em;
  }
  .promo-lg,
  .promo-sm {
    max-width: 60vw;
  }
}

.shop-cta {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin: 100px auto;
  width: 80%;
  padding: 80px;
  background-image: linear-gradient(rgba(2, 67, 71, 0.5), rgba(9, 22, 92, 0.5)), url(../img/shopping-annex.jpeg);
  background-position: center;
}

@media screen and (max-width: 750px) {
  .shop-cta {
    width: 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 450px) {
  .shop-cta {
    padding: 80px 50px;
    margin: 100px auto 60px auto;
  }
  .shop-cta p {
    padding: 30px 0;
  }
  .shop-cta a.btn {
    font-size: .75em;
    padding: 8px 22px;
  }
}

footer {
  flex-shrink: 0;
  background: linear-gradient(to right, hsl(266, 78%, 64%), #00c4cc);
  height: 40px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5em;
}

footer i {
  color: #fff;
  font-size: 1.3em;
  padding: 0 10px;
  display: flex;
}

@media screen and (max-width: 750px) {
  footer {
    font-size: 1.2em;
  }
}

/* ************************
 *****  SHOP PAGES  ******
************************ */

.shop-content {
  text-align: center;
}

.shop-heading {
  margin: 15px auto 30px auto;
  font-size: 3em;
  color: #e4c47a;
}

.cat-head {
  display: flex;
  width: 100%;
  height: 80px;
  background: #e4c47a;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  color: hsl(266, 78%, 64%);
  font-size: 1.2em;
}

.shop-cats {
  background-color: hsl(266, 78%, 64%);
  margin: 45px auto;
  font-size: 1.2em;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px hsl(266, 78%, 64%), 0 3px 15px -2px #8b6406;
}

@media screen and (max-width: 750px) {
  .shop-cats {
    font-size: 1.2em;
  }
}

.shop-cats a {
  display: inline-block;
  margin: 40px 10px;
  text-transform: uppercase;
  color: gold;
  text-decoration: none;
  font-size: 1.2em;
}

.shop-cats a:hover {
  color: #000;
}

.shop-cats .active {
  background: #fff;
  color: hsl(266, 78%, 64%);
  font-weight: bolder;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 4px;
}

.showcase-body {
  position: relative;
  margin: 0 auto 30px auto;
  padding: 200px 0 200px 0;
  border-radius: 25px;
  width: 80%;
}

@media screen and (max-width: 520px) {
  .showcase-body {
    overflow-x: hidden;
  }
  .shop-heading {
    font-size: 2em;
  }
}

.p_slider {
  width: 200px;
  height: 339px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.p_slider .left,
.p_slider .right {
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.p_slider__item {
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition-duration: 1.5s;
  transition-property: transform, left, opacity, -webkit-filter;
}

.p_slider__item img {
  width: 200px;
  -webkit-transform: scale(0);
  transform: scale(0);
  position: relative;
  -webkit-animation: scale_bounce 1.2s .4s forwards;
  animation: scale_bounce 1.2s .4s forwards;
  -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

.p_slider__item:nth-of-type(1) {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  left: -200px;
  -webkit-filter: blur(2px);
  opacity: 0.8;
  z-index: 1;
}

.p_slider__item:nth-of-type(2) {
  -webkit-transform: scale(1);
  transform: scale(1);
  left: 0px;
  z-index: 2;
}

.p_slider__item:nth-of-type(3) {
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  left: 200px;
  z-index: 1;
  -webkit-filter: blur(2px);
  opacity: 0.8;
}

.controls {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.controls .left {
  float: left;
  cursor: pointer;
  position: relative;
  left: 40px;
}

.controls .left img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all .4s;
  opacity: 0.2;
}

.controls .left img:hover {
  opacity: 1;
  cursor: pointer;
}

.controls .right {
  float: right;
  cursor: pointer;
  position: relative;
  right: 40px;
}

.controls .right img {
  transition: all .4s;
  opacity: 0.2;
}

.controls .right img:hover {
  opacity: 1;
  cursor: pointer;
}

@-webkit-keyframes scale_bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1.012);
    transform: scale(1.012);
  }
  80% {
    -webkit-transform: scale(0.995);
    transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale_bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1.012);
    transform: scale(1.012);
  }
  80% {
    -webkit-transform: scale(0.995);
    transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.shop-section {
  max-width: 1000px;
  margin: 10px auto;
  background: #e4c47a;
  border-radius: 15px;
  margin-bottom: 60px;
  background-image: url(/img/noise.png);
  background-blend-mode: luminosity;
  box-shadow: 0 0 0 4px #fff, 0 0 0 7px #e4c47a, 0 0 15px -1px #523a04;
}

@media screen and (max-width: 700px) {
  .shop-section {
    width: 100vw;
    box-shadow: 0 0 0 4px #fff, 0 0 0 7px #e4c47a;
    border-radius: 0;
    padding: 30px 0;
  }
}

.shop-card {
  width: 80%;
  max-height: 200px;
  border: 10px double #8b6406;
  margin: 20px auto;
  overflow: hidden;
  background: #e6e5e5;
  border-radius: 0 35px 0 35px;
  box-shadow: 0 3px 13px -5px #8b6406;
}

.shop-card--img {
  float: left;
  max-height: 198px;
  border-right: 2px solid #523a04;
  margin-right: 10px;
}

.shop-card--p {
  font-size: .8em;
  text-transform: uppercase;
  padding: 30px 10px;
}

.shop-card a {
  background: none;
  border: 1px solid #00c4cc;
  color: #523a04;
  text-transform: uppercase;
  font-size: .5em;
  padding: 2px 12px;
  box-shadow: 0 3px 3px -2px rgb(95, 125, 134);
  transition: all .3s ease-in-out;
}

.shop-card a:hover {
  background: #00c4cc;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 0 4px 4px -3px #00c4cc;
}

@media screen and (max-width: 500px) {
  .shop-card {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: visible;
  }
  .shop-card--img {
    border: 2px solid #523a04;
    border-top: 0;
    min-height: 120px;
    margin: 0 auto;
    display: inline-block;
  }
  .shop-card--p {
    display: inline-block;
  }
  .shop-card a {
    font-size: .7em;
  }
}

.fig-row {
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

.shop-fig {
  flex-basis: auto;
  flex-grow: 1;
  border: 2px solid grey;
  margin: 5px;
  padding: 10px;
}

.shop-fig figcaption {
  color: hsl(266, 78%, 64%);
  text-transform: uppercase;
  font-size: 1.35em;
}

.shop-fig p {
  font-size: 2em;
  color: red;
}

/* 
*******************
********404********
******************* */

.err-404 {
  font-size: 15em;
  margin: auto;
}

.err-wrapper {
  display: flex;
  width: 100vw;
  color: #00c4cc;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 1.5em;
  padding: 20px;
}

.text p {
  line-height: 2em;
  margin-bottom: 30px;
}

.text a {
  text-decoration: none;
  color: #fff;
  background: #00c4cc;
  padding: 8px 12px;
  border-radius: 5px;
}

.text a:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #00c4cc;
  color: gold;
}

@media screen and (max-width: 750px) {
  .err-wrapper {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .err-404 {
    font-size: 10em;
  }
  .text {
    text-align: center;
  }
}

.product-wrapper {
  display: flex;
  margin: 30px 30px 0 30px;
  width: 100vw;
  flex-flow: row;
}

@media screen and (max-width: 750px) {
  .product-wrapper {
    flex-flow: column;
    align-items: center;
  }
  .product-desc {
    margin: 50px 20px 0 20px;
  }
}

.product-card {
  text-align: center;
}

.product-card h1 {
  margin-bottom: 20px;
  color: hsl(266, 78%, 64%);
}

.product-thumbs {
  display: flex;
  margin-top: 20px;
}

.primary {
  width: 300px;
  height: 300px;
  background-color: #e4c47a;
  border: 2px solid hsl(266, 78%, 64%);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all .5s ease-in;
}

.primary:hover {
  transform: scale(1.5);
  transform-origin: bottom left;
}

@media screen and (max-width: 750px) {
  .primary:hover {
    transform: scale(1.2);
    transform-origin: bottom;
  }
}

.thumbnail-image {
  margin-right: 10px;
  width: 49px;
  height: 48px;
  background: #e4c47a;
  border: 2px solid hsl(266, 78%, 64%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.product-desc {
  padding: 0 30px 30px 60px;
}

.product-desc h2 {
  color: hsl(266, 78%, 64%);
  margin: 0 0 25px 0;
}

.product-desc p {
  margin-bottom: 25px;
  font-size: 1.2em;
}

.suggested-items {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin: 20px 0 80px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.suggested-items-sect h2 {
  font-family: 'Acme', sans-serif;
  font-size: .75em;
}

.suggested-items img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.suggested-items a {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

h1.about-us {
  margin: 30px;
  font-size: 3em;
  color: #fff;
  text-shadow: -1px 1px 0 #ddd, -2px 2px 0 #c8c8c8, -3px 3px 0 #ccc, -4px 4px 0 #b8b8b8, -4px 4px 0 #bbb, 0px 1px 1px rgba(0, 0, 0, .4), 0px 2px 2px rgba(0, 0, 0, .3), -1px 3px 3px rgba(0, 0, 0, .2), -1px 5px 5px rgba(0, 0, 0, .1), -2px 8px 8px rgba(0, 0, 0, .1), -2px 13px 13px rgba(0, 0, 0, .1);
}

.about-us-text {
  font-size: 1.5em;
  margin: 30px;
  padding: 30px;
}

.about-us-text a {
  color: #e4c47a;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.541);
}

.about-us-content {
  background-image: linear-gradient(rgba(73, 209, 209, 0.74), rgba(189, 20, 152, 0.6)), url(/img/mountains-sceen.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 80px auto 60px auto;
  border-radius: 20px;
  color: #2c1f00;
  border: 5px solid #e4c47a;
  text-align: center;
  box-shadow: 0px 0px 30px -5px rgb(4, 35, 117);
  font-size: 1.2em;
  padding-bottom: 60px;
}

.about-us-text {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  line-height: 1.5em;
}

.mats-desc {
  background: #00c4cc;
  max-width: 900px;
  margin: 60px auto;
  padding: 30px;
}

.mats-head {
  font-size: 2em;
  text-shadow: -1px 1px 0 #ddd, -2px 2px 0 #c8c8c8, -3px 3px 0 #ccc, -4px 4px 0 #b8b8b8, -4px 4px 0 #bbb, 0px 1px 1px rgba(0, 0, 0, .4), 0px 2px 2px rgba(0, 0, 0, .3), -1px 3px 3px rgba(0, 0, 0, .2), -1px 5px 5px rgba(0, 0, 0, .1), -2px 8px 8px rgba(0, 0, 0, .1), -2px 13px 13px rgba(0, 0, 0, .1);
}

.mats-desc p {
  color: #523a04;
  border: 4px solid #523a04;
  text-align: left;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px #523a04;
}

.mats-desc p a {
  background: none;
  color: #fff;
  padding: 0;
  letter-spacing: 0;
  text-decoration: underline;
  font-size: .8em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.541);
  transition: all .3s;
}

.mats-desc p a:hover {
  color: #523a04;
  background: #fff;
  padding: 4px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

@media screen and (min-width: 950px) {
  .about-us-content {
    max-width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .about-us-content {
    margin: 80px 30px 60px 30px;
  }
}

@media screen and (max-width: 500px) {
  .about-us-content {
    font-size: 1em;
  }
}

.shop-btn {
  padding: 3px 35px;
  display: block;
  width: 120px;
  margin: 0 auto;
  border-radius: 6px;
  background: #fff;
  text-decoration: none;
  font-size: 2em;
  color: rgba(139, 13, 118, 0.89);
  box-shadow: 0 0 0 3px rgba(139, 13, 118, 0.89), 0 0 0 6px white;
  transition: all .4s ease-in-out;
}

.shop-btn:hover {
  background: rgba(139, 13, 118, 0.89);
  box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(139, 13, 118, 0.89), 0 0 12px 6px rgba(0, 0, 0, 0.75);
  color: white;
  transform: scale(1.2);
}

.about-us--section {
  /* display: flex; */
  margin: 20px auto;
  max-width: 1000px;
}

.about-us--left {
  background: #00c4cc;
  padding: 30px;
  float: left;
}

.about-us--left p {
  max-width: 300px;
  min-width: 250px;
  color: #523a04;
  border: 4px solid #523a04;
  text-align: left;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px #523a04;
}

.about-us--right {
  display: flex;
  flex-direction: column;
}

.about-us--right img {
  max-width: 350px;
  margin: 0 20px 20px 20px;
  border: 3px solid #523a04;
  box-shadow: -2px 2px 15px -10px #002b2c;
}

@media screen and (max-width: 850px) {
  .about-us--section {
    display: flex;
    flex-direction: column;
  }
  .about-us--left {
    margin-bottom: 50px
  }
  .about-us--left p {
    max-width: 100%;
  }
  .about-us--right {
    flex-direction: row;
  }
  .about-us--right img {
    max-width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .about-us--section {
    margin: 0;
    padding: 0;
  }
  .about-us--right {
    flex-direction: column;
  }
  .about-us--right img {
    max-width: 90%;
    margin: 20px auto;
  }
  .about-us--left {
    margin: 0 0 20px 0;
    padding: 0;
  }
  .about-us--left p {
    min-width: 180px;
    margin: 0;
    border: none;
    font-size: .8em;
    background: #00c4cc;
  }
}

.contact-heading {
  font-family: 'Acme', sans-serif;
  font-size: 3em;
}

.contact-text {
  font-size: 1.25em;
}

@media screen and (max-width: 750px) {
  .contact-heading {
    font-size: 1.5em;
  }
  .contact-text {
    font-size: .9em;
  }
}

.form-group {
  font-family: 'Acme', sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background: #00c4cc;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 0 4px white, 0 0 0 8px #00c4cc, 0 0 15px 8px rgba(7, 101, 138, 0.5);
}

@media screen and (max-width: 500px) {
  .form-group {
    width: 80%;
    margin: 10px auto;
    padding: 30px 10px;
  }
}

.form-group input {
  border: none;
  box-shadow: none;
}

.form-group input:focus {
  background: salmon;
  color: #fff;
}

legend {
  display: block;
  background-color: #e4c47a;
  height: 20px;
  padding: 5px 10px 12px 10px;
  font-size: .85em;
  border-radius: 7px;
  cursor: default;
}

#mybtn {
  display: block;
  padding: 7px 15px;
  background: hsl(266, 78%, 64%);
  color: #e4c47a;
  border-radius: 7px;
  font-family: 'Acme', sans-serif;
  font-size: .75em;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 6px hsl(266, 78%, 64%), 0 0 12px 5px rgba(0, 0, 0, 0.3);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

#mybtn:hover {
  background: #fff;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px white, 0 0 12px 5px rgba(0, 0, 0, 0.5);
  color: hsl(266, 78%, 64%);
  transform: scale(1.1);
}

#n,
#e {
  margin: 30px;
  font-size: .75em;
  border-radius: 8px;
  padding: 7px 15px;
  box-shadow: 0 0 0 3px #00c4cc, 0 0 0 5px white;
}

@media screen and (max-width: 400px) {
  .contact-heading {
    font-size: 1.2em;
  }
  .contact-text {
    line-height: 1.5em;
  }
  .form-group {
    width: 90%;
    box-shadow: none;
  }
  legend {
    display: block;
    font-size: .7em;
    padding: 5px 12px;
  }
  #n,
  #e {
    font-size: .5em;
    box-shadow: none;
  }
}

.contact-info {
  font-family: 'Acme', sans-serif;
  list-style: none;
  text-align: right;
  margin-top: 60px;
  font-size: 1em;
  color: #fff;
  background: linear-gradient(to left, #00c4cc, hsl(266, 78%, 64%));
  padding: 30px 15px 15px 0;
  border-bottom: 3px double #e4c47a;
}

.contact-info :nth-child(3) {
  margin-right: 40px;
}

.contact-info li {
  padding-bottom: 6px;
  letter-spacing: .1em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.contact-info i {
  margin-left: 20px;
  color: #e4c47a;
}

p.lead {
  text-transform: uppercase;
  font-size: 1.6em;
  margin: 0 auto 24px auto;
  box-shadow: 0 0 0 5px #523a04;
}